@import "./Scss/variables";
@import "./Scss/default";
@import "./Scss/navigation";
@import "./Scss/leftsidebar";
@import "./Scss/content";
@import "./Scss/articleskeleton";
@import "./Scss/articlecomponent";
@import "./Scss/rightsidebar";
@import "./Scss/cardcomponent";
@import "./Scss/mediaQueries";
